In [ ]:
import pandas as pd
import re

In [56]:
df = pd.read_csv('house.csv')
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
0,Abbotsford,49 Lithgow St,3,h,1490000.0,S,Jellis,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
1,Abbotsford,59A Turner St,3,h,1220000.0,S,Marshall,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
2,Abbotsford,119B Yarra St,3,h,1420000.0,S,Nelson,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
3,Aberfeldie,68 Vida St,3,h,1515000.0,S,Barry,1/04/2017,3040,Western Metropolitan,1543,7.5,Moonee Valley City Council
4,Airport West,92 Clydesdale Rd,2,h,670000.0,S,Nelson,1/04/2017,3042,Western Metropolitan,3464,10.4,Moonee Valley City Council
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63018,Roxburgh Park,3 Carr Pl,3,h,566000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council
63019,Roxburgh Park,9 Parker Ct,3,h,500000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council
63020,Roxburgh Park,5 Parkinson Wy,3,h,545000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council
63021,Thomastown,3/1 Travers St,3,u,NaN,PI,Barry,31/03/2018,3074,Northern Metropolitan,7955,15.3,Whittlesea City Council
63022,Williams Landing,1 Diadem Wy,4,h,NaN,SP,Aussie,31/03/2018,3027,Western Metropolitan,1999,17.6,Wyndham City Council

In [ ]:
filter1 = df.loc[(df['Rooms'] == 3) & (df['Type'] == 'h') & (df['Price'] <= 500000)]
filter1

In [ ]:
filter2 = df.loc[df['Address'].str.contains('Turner st|Turner Rd', flags=re.I)]
filter2

In [ ]:
filter3 = df.loc[(df['Address'].str.contains('^59', flags=re.I)) & (df['Price'] <= 500000)]
filter3

In [ ]:
df.loc[df['SellerG'] == 'Nelson', 'SellerG'] = 'Ronald'
df

In [ ]:
df.loc[df['SellerG'] == 'Ronald', ['Method', 'Type']] = 'Pending'
df

In [62]:
df.groupby(['SellerG']).count().sort_values('Rooms', ascending = False).head(10)
#sum para somar 
#mean para medias

,Suburb,Address,Rooms,Type,Price,Method,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
SellerG,,,,,,,,,,,,
Barry,6894,6894,6894,6894,4818,6894,6894,6894,6894,6894,6894,6894
Jellis,5499,5499,5499,5499,4088,5499,5499,5499,5499,5499,5499,5499
Nelson,4739,4739,4739,4739,4008,4739,4739,4739,4739,4739,4739,4739
Ray,4554,4554,4554,4554,3653,4554,4554,4554,4554,4554,4554,4554
hockingstuart,4332,4332,4332,4332,3465,4332,4332,4332,4332,4332,4332,4332
Buxton,3357,3357,3357,3357,2580,3357,3357,3357,3357,3357,3357,3357
Marshall,2844,2844,2844,2844,1721,2844,2844,2844,2844,2844,2844,2844
Fletchers,1612,1612,1612,1612,1160,1612,1612,1612,1612,1612,1612,1612
Biggin,1535,1535,1535,1535,1022,1535,1535,1535,1535,1535,1535,1535
Harcourts,1211,1211,1211,1211,912,1211,1211,1211,1211,1211,1211,1211